{% extends "short_url/headfoot.html" %}

{% block content %}


<div class="col-md-4">
</div>
<div class="col-md-4" id="mid" style="text-align:center;">
    <hr style="border-width:6px;">
    {% if value == 1 %}
    your URL has been expired.<br>
    <a href="http://localhost:8000/"> click here</a> if you want to create a new one.
    {% else %}
    URL does not exist.<br>
    <a href="http://localhost:8000/"> click here</a> if you want to crate a Short URL.
    {% endif %}
    <hr style="border-width:6px;">
</div>
<div class="col-md-4">
</div>
<br>
<div class="col-md-12 " style= "text-align:center;">
    {% include "short_url/advertise.html" %}
</div>
{% endblock %}



