{% extends "short_url/headfoot.html" %}

{% block head_content %}
    {{block.super}}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock head_content %}

{% block content %}
<form Action="{% url 'short_url:index' %}" method="post">
    {%csrf_token%}


    <div class="col-lg-4">

    </div>

    <div class="col-lg-4 ">
        <input name="original_url" id="urlinput" value="{{long_url}}" type="url" class="form-control"
               placeholder="Enter your URL" required>
        <br>
        <br>
        Short URL expires:<br>
        <label class="radio-inline">
            <input type="radio" name="validity" value=1 id="one_m" required> After 1 month
        </label>
        <label class="radio-inline">
            <input type="radio" name="validity" value=6 id="six_m"> After 6 months
        </label>
        <label class="radio-inline">
            <input type="radio" name="validity" value=12 id="one_y"> After 1 year
        </label>
        <label class="radio-inline">
            <input type="radio" name="validity" value=-1 id="inf" checked="checked"> Never Expires
        </label>
        <br>
        <br>
        <div class="g-recaptcha" data-sitekey="6LcRiVIUAAAAAOe4xg0T2fO9JkxrleYyHmq9hjd8" align="center" ></div>

        <input type="submit" value="Submit" name="sub" class="btn btn-default center-block"> <br>

        <br>

        {% if is_response %}
        <text class="form-control" id="c1">{{genrated_url}}</text>
        <br>

        <button type="button" name="copy_link" class="btn center-block" onclick="copyToClipboard('#c1'); selectText('c1'); ">
            Copy Link

        </button>


    {% endif %}
        </div>

    <div class="col-lg-4">
        <button type="button" class="btn btn-info center-block" onclick="location.href = '/stats.html';">Statistics</button>
    </div>



</form>

{% endblock %}


