<!DOCTYPE html>
<html lang="en">
{% if ttl == -1 %}
    <head>
        <meta http-equiv="refresh" content="5;url={{long_url}}" />
        <style>
            div{
                border: 1px solid green ;
                width: 600px;
                height: 400px;
            }
        </style>
    </head>
    <body>
        <h4>redirecting in 5 seconds...</h4><br>
        <a href="">skip</a><br>
        <div>
            This text is enclosed in a box.
        </div>

    </body>
{% else %}
    <head>
        <meta http-equiv="refresh" content="0;url={{long_url}}" />
    </head>
    <body>

    </body>
{% endif %}
</html>