{% extends "short_url/headfoot.html" %}


{% block t_r%}
        {% if ttl == -1 %}
            <meta http-equiv="refresh" content="9;url={{long_url}}"/>
        {% else %}
            <meta http-equiv="refresh" content="0;url={{long_url}}"/>
        {% endif %}
{% endblock t_r%}


{% block content %}
<div class="col-md-12 " style="height:150px;"></div>
<div class="col-md-4">
</div>
<div class="col-md-4 " style="text-align: center;">
    {% if ttl == -1 %}
    redirecting in <h3 id="time" style="display:inline;">10</h3> seconds...<br>
    <hr style="border-width:6px;">
    <a href="{{long_url}}">skip</a><br>
    <hr style="border-width:6px;">
    {% else %}
    <hr style="border-width:6px;">
    Redirecting...<br>
    <hr style="border-width:6px;">
    {% endif %}
    <br>
</div>
<div class="col-md-4">
</div>
<br>
<div class="col-md-12 " style= "text-align:center;">
    {% include "short_url/advertise.html"%}
</div>
{% endblock %}

